<div class="container">
    <mat-card>
        <div class="row" *ngIf="totalNutrition">
            <mat-list role="list">
                <mat-list-item role="listitem"><span class="labels">Quantity : </span></mat-list-item>
                <mat-list-item role="listitem"><span class="labels">Calories : </span> </mat-list-item>
                <mat-list-item role="listitem"><span class="labels">Total Weights : </span></mat-list-item>
            </mat-list>
            <mat-list role="list">
                <mat-list-item role="listitem"> {{nutritionData.yield}}</mat-list-item>
                <mat-list-item role="listitem"> {{nutritionData.calories}}</mat-list-item>
                <mat-list-item role="listitem"> {{nutritionData.totalWeight}}</mat-list-item>
            </mat-list>
        </div>
    </mat-card>

    <mat-card *ngIf="totalNutrition">
        <div class="header">
            <h2>Total Nutrition</h2>
            <hr>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef> Label </th>
              <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef> Unit </th>
              <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card>

</div>