.row{
    display: flex;
}
:host ::ng-deep .mat-card{
    width: 50vh;
    margin: 2em;
}
:host ::ng-deep .mat-icon {
    color: orange;
}
.labels{
    color: orange;
}
.header{
    h2{
        color: orange;
    }
}
.text-center{
    text-align: center;
    margin: 2em;
    button{
        background-color: orange;
        color: white;
    }
}