.form-field{
    width: 100%;
}
.header{
    h2{
        color: orange;
    }
}
:host ::ng-deep .mat-card.card{
    width: 50vh;
}
:host ::ng-deep .mat-icon {
    color: orange;
}
.addBtn , .removeBtn{
    float: right;
}
.addBtn{
    margin-top: -31px;
}
.text-center{
    text-align: center;
    margin: 2em;
    button{
        background-color: orange;
        color: white;
    }
}