<div class="form-container">
    <mat-card class="card">
        <div class="header">
            <h2>Log Your Meal</h2>
        </div>
        <form [formGroup]="nutritionForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-field">
                <input matInput placeholder="Food Name" formControlName="title">
            </mat-form-field>
              
                    <div formArrayName="ingr">
                        <div *ngFor="let ingr of ingr.controls; let i=index">
                            <mat-form-field>
                                <input matInput type="text" placeholder="ingredient" [formControlName]="i">
                                <div class="removeBtn">
                                    <button mat-button (click)="removeIngr(i)"><mat-icon>delete_sweep</mat-icon></button>
                                </div>
                            </mat-form-field>                          
                        </div>
                        <div class="addBtn">
                            <button mat-button type="button" (click)="addIngr()"><mat-icon>add_circle</mat-icon></button>
                        </div>
                    </div>
                    <div class="text-center">
                        <button mat-button type="submit">Analyse</button>
                    </div>
                
            
        </form>
    </mat-card>
</div>